<% if flash[:notice] %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<div>
  <%= flash[:alert] %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "Show", book_path(book.id) %></td>
        <td><%= link_to "Edit", edit_book_path(book.id) %></td>
        <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
     <!-- 本の一覧を表示する部分 -->


  <table>
      <td colspan="2">
        <h2>New book</h2>
        <% if @book.errors.any? %>
          <%= @book.errors.count %> errors prohibited this book from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
  </table>
        <%= form_with model: @book do |f| %>

        <tr>
          <td><h4>Title</h4></td>
          <td><%= f.text_field :title %></td>
        </tr>

        <tr>
          <td><h4>Body</h4></td>
          <td><%= f.text_area :body %></td>
        </tr>

        <p>
            <%= f.submit 'Create Book' %>
        </p>
        <% end %>
